
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style>
  
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<body>
  <script type="text/javascript">
    setTimeout(function() {
        $('#successMessage').fadeOut('fast');
    }, 3000);
  </script>
  <h1>Dashboard</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul id="successMessage" class=flashes>
      {% for message in messages %}
        <div >{{ message }}</div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  <h1>{% if session_user_name %}
                    <p>Hello <b>{{ session_user_name }}</b></p>
                {% endif %}
                <a href="{{ url_for('logout') }}">Logout</a></h1>


  <div>
    <h3>The most popular wines today:</h3>
    {% for n in data %}
    <div><a href="/wine?wine_title={{n}}">{{n}}</a></div>
    {% endfor %}
  </div>

  <h3>Explore the wines</h3>
  <p><a href="/search?successfull=True">Search Page</a></p>
  <h3>Access your past purchases</h3>
  <p><a href="/transaction">Transaction history</a></p>
  <h3>Access your wine list</h3>
  <p><a href="/winelist">WineList</a></p>
</body>


</html>
