<link rel="stylesheet" href="/static/style.css" type="text/css">

{% extends "layout.html" %}

{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}

<form action="/register_user" method="POST">
<div class="Login">
<div class="login-screen">
<div class="app-title">
<h1>Register</h1>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
</div>
<div class="login-form">
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="age" name="age">
<label class="login-field-icon fui-user" for="login-age"></label></div>
<div class="control-group">
  <input type="text" class="login-field" value="" placeholder="country" name="country">
<label class="login-field-icon fui-user" for="login-country"></label></div>
<div class="control-group">
  <input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>

{% endif %}
{% endblock %}
